.navbar {
    background-color: #0c0c1d;
    height: 100px;
    width: 100vw;
    border: 1px solid white;
    top: 0px;
    position: fixed;
    display: flex;
    z-index: 1000;


    .wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;

        span{
            font-weight: bold;
        }

        .social{
            display: flex;
            gap: 10px;
        }
    }
}